<h1>Form page</h1>
<?php
/**
 * @var \Magento\Framework\View\Element\Template $block
 */
?>
<form action="<?php echo $block->getUrl('db/internship/add');?>" method="post">
    <label for="name">Name:</label><br>
    <input type="text" name="name"><br>
    <label for="avatar">Link avatar:</label><br>
    <input type="text" name="avatar"><br>
    <label for="dob">Date of birth:</label><br>
    <input type="text" name="dob"><br>
    <label for="description">Description:</label><br>
    <input type="text" name="description"><br>
    <button type="submit">submit</button>
</form>


