<?php

/**
 * @var \Bss\LearningDb\Block\Show $block
 */
?>
<p>Name: <?= $block->getShowData()->getData('name')?>  </p>
<p>Avatar: <?= $block->getShowData()->getData('avatar')?></p>
<p>Description: <?= $block->getShowData()->getData('description')?></p>


