<?php
/**
 * @var \Bss\LearningDb\Block\Index $block
 */
?>

<div class="owl-carousel owl-theme"
     data-mage-init='{"Bss_LearningDb/js/list":{
"loop":true,
"items":5,
"dots":true,
"autoplay":true,
"autoplayTimeout":3000 }}'>
    <?php foreach ($block->getListData() as $key=>$intern) :?>
        <div>
            <p>Name: <?= $intern->getData('name') ?></p>
            <p>Avatar: <?= $intern->getData('avatar') ?></p>
            <p>Dob: <?= $intern->getData('dob') ?></p>
            <p>Des: <?= $intern->getData('description') ?></p>
        </div>
    <?php endforeach; ?>
</div>
