<?php
/**
 * @var \Magento\Framework\View\Element\Template $block
 */
?>
<div id="popup-modal"></div>
<script type="text/x-magento-init">
{
    "#popup-modal": {
        "Bss_LearningDb/js/popup.subtotal": {
            "url": "<?= $block->getUrl('db/popup/subtotal') ?>"
        }
    }
}
</script>

