.page-footer {
    background-color: #333333;
}

.content {
    display: flex;
    color: #bbb;
}

.content h4 {
    color: #fff;
}

.footer.content .block {
    float: none;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 4;
    margin: 0 2rem;
}

.block.newsletter {
    max-width: 100%;
}

.recent-podcast {
    width: 100%;
}

.recent-podcast-item {
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
}

.recent-podcast-item img {
    max-width:  25%;
    border-radius: 5px;
}

.recent-podcast-item p {
    margin: 0 2rem;
}

.footer-link {
    columns: 2;
}

.footer-link li {
    margin-bottom: 1rem !important;
}

.footer-link li a {
    color: #bbb;
}

.footer-social li {
    display: inline-block;
    margin-right: 1rem !important;
}

.footer-social a {
    color: #bbb;
}

.footer-social img {
    width: 24px;
    height: 24px;
}

.copyright {
    background-color: #333333;
}

.subscribe {
    background-color: #f23b2d !important;
    border: #f23b2d !important;
}

.block.newsletter input {
    background-color: #333333;
    color: #fff;
}

.block.newsletter input ::placeholder {
    color: #bbb;
    opacity: 1;
}