<?php

/**
 * @var \Bss\Helloword\Block\Loadcategory $block
 */
?>

<table>
    <tr>
        <th>entity_id</th>
        <th>asttribute_set_id</th>
        <th>SKU</th>
        <th>type_id</th>
    </tr>
    <?php
    foreach ($block->getProductCollection() as $product){
        echo '<tr>
                    <td>'.$product->getData('entity_id').'</td>
                    <td>'.$product->getData('attribute_set_id').'</td>
                    <td>'.$product->getData('sku').'</td>
                    <td>'.$product->getData('type_id').'</td>
                  </tr>';
    }
    ?>
</table>
