<h4>Recent Podcast</h4>
<div class="recent-podcast">
    <div class="recent-podcast-item">
        <img src="/pub/media/training/images/pic.png" />
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    </div>
    <div class="recent-podcast-item">
        <img src="/pub/media/training/images/pic.png" />
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    </div>
</div>
