<?php
/**
 * @var Bss\Helloword\Block\Social $block
 */
?>
<h4>Follow Us</h4>
<ul class="footer-social">
    <?php foreach($block->getSocials() as $social): ?>
        <li>
            <a href="<?= $social['path'] ?>"><img src="<?php echo ($block->getBaseUrl() . $social['img'] ) ?>" /></a>
        </li>
    <?php endforeach; ?>
</ul>
