<?php
/**
 * @var Bss\Helloword\Block\Video $block
 */
?>
<h4>Watch Video</h4>
<iframe width="100%" src="<?= $block->getVideo() ?>" frameborder="0" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
